In [3]:
import os
from dotenv import load_dotenv

load_dotenv()

True

In [4]:
os.environ["GROQ_API_KEY"] = os.getenv("GROQ_API_KEY")

In [5]:
from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///products.db")

In [14]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_groq import ChatGroq

llm = ChatGroq(
    model="llama3-8b-8192"
)
agent_executor = create_sql_agent(
    llm,
    db=db,
    agent_type="zero-shot-react-description",
    verbose=True
)

In [15]:
type(agent_executor)

langchain.agents.agent.AgentExecutor

In [16]:
agent_executor.get_prompts

<bound method Runnable.get_prompts of AgentExecutor(name='SQL Agent Executor', verbose=True, agent=RunnableAgent(runnable=RunnableAssign(mapper={
  agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['agent_scratchpad', 'input'], partial_variables={'tools': "sql_db_query - Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema - Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker - Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!", 'tool_names': 'sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker'}, template='Answer the following questions as best you can. You have access to the following tools:\n\n{tools}\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [{tool_names}]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: {input}\nThought:{agent_scratchpad}')
| RunnableBinding(bound=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x00000110EFD2FBF0>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000110EFD2F170>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********')), kwargs={'stop': ['\nObservation']})
| ReActSingleInputOutputParser(), input_keys_arg=['input'], return_keys_arg=['output'], stream_runnable=True), tools=[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000110DDD57E30>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000110DDD57E30>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000110DDD57E30>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x00000110DDD57E30>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x00000110EFD2FBF0>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000110EFD2F170>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********')), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x00000110EFD2FBF0>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000110EFD2F170>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********'))))])>

In [17]:
agent_executor.invoke(
    "List the top 2 products by price"
)

> Entering new SQL Agent Executor chain...
Thought: To answer this question, I need to know the tables and columns available in the database. I'll start by listing all the tables in the database.

Action: sql_db_list_tables
Action Input: (empty string)productsLet's get started!

Action: sql_db_list_tables
Action Input: (empty string)productsAction: sql_db_schema
Action Input: products
CREATE TABLE products (
	id INTEGER,
	name TEXT NOT NULL,
	url TEXT,
	description TEXT,
	stock_items INTEGER NOT NULL,
	price REAL NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from products table:
id	name	url	description	stock_items	price
1	I Phone 15 pro max	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is the latest I phone 15 pro max mobile	2	190000.0
2	Redmi Note 9 pro	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is redmi note 9 pro latest global version mobile	9	20000.0
3	calculator	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	casio fx caculator	2	1200.0
*/Question: List the top 2 products by price
Thought: Now that I have the schema and sample rows for the products table, I can write a query to get the top 2 products by price.

Action: sql_db_query_checker
Action Input: SELECT * FROM products ORDER BY price DESC LIMIT 2The original query is correct and does not contain any common mistakes. The query is:

SELECT * FROM products ORDER BY price DESC LIMIT 2Action: sql_db_query
Action Input: SELECT * FROM products ORDER BY price DESC LIMIT 2[(8, 'Samsung S23 Ultra', 'https://ibb.co/DwFxTND', 'Samsung s23 ultra phone titanium.', 3, 210000.0), (5, 'Samsung Galaxy S22', 'https://ibb.co/Svdqcpb', 'This is samsung galaxy S22', 5, 200000.0)]Final Answer: The top 2 products by price are Samsung S23 Ultra with a price of 210000.0 and Samsung Galaxy S22 with a price of 200000.0.

Note: The query executed on the database returns the top 2 products with the highest price.

> Finished chain.

{'input': 'List the top 2 products by price',
 'output': 'The top 2 products by price are Samsung S23 Ultra with a price of 210000.0 and Samsung Galaxy S22 with a price of 200000.0.\n\nNote: The query executed on the database returns the top 2 products with the highest price.'}

In [18]:
response = agent_executor.invoke("what is the price of redmi mobile")

> Entering new SQL Agent Executor chain...
I'll start by thinking...

Thought: To find the price of a Redmi mobile, I need to query a database that contains information about mobile phones. Since I have access to SQL database tools, I'll try to use sql_db_list_tables to get a list of tables in the database that might contain this information.

Action: sql_db_list_tables
Action Input: (empty string)productsAction: sql_db_schema
Action Input: products
CREATE TABLE products (
	id INTEGER,
	name TEXT NOT NULL,
	url TEXT,
	description TEXT,
	stock_items INTEGER NOT NULL,
	price REAL NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from products table:
id	name	url	description	stock_items	price
1	I Phone 15 pro max	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is the latest I phone 15 pro max mobile	2	190000.0
2	Redmi Note 9 pro	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is redmi note 9 pro latest global version mobile	9	20000.0
3	calculator	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	casio fx caculator	2	1200.0
*/Thought: Now that I have the schema of the products table, I can query it to find the price of the Redmi mobile.

Action: sql_db_query_checker
Action Input: SELECT * FROM products WHERE name = 'Redmi Note 9 pro'The original query is correct and does not contain any common mistakes. Here is the original query again:

```
SELECT * FROM products WHERE name = 'Redmi Note 9 pro'
```Action: sql_db_query
Action Input: SELECT price FROM products WHERE name = 'Redmi Note 9 pro'[(20000.0,)]Final Answer: The price of the Redmi Note 9 pro is 20000.0.

> Finished chain.

In [19]:
print(response["output"])

The price of the Redmi Note 9 pro is 20000.0.

In [20]:
agent_executor.invoke("Exlain the product samsung galaxy s22")

> Entering new SQL Agent Executor chain...
Thought: The Samsung Galaxy S22 is a smartphone, so I need to gather information about it. I can start by querying the database to get the specifications and features of the phone.

Action: sql_db_query
Action Input: SELECT * FROM smartphones WHERE model = 'Samsung Galaxy S22';Error: (sqlite3.OperationalError) no such table: smartphones
[SQL: SELECT * FROM smartphones WHERE model = 'Samsung Galaxy S22';]
(Background on this error at: https://sqlalche.me/e/20/e3q8)Thought: Oh no! It looks like the table "smartphones" does not exist in the database. I need to check the list of tables to see if the table exists.

Action: sql_db_list_tables
Action Input: (empty string)productsLet's continue from here.

Thought: It looks like the table "smartphones" does not exist in the database, but I do see a table called "products" in the list of tables. I'm going to query the schema of the "products" table to see if it contains information about the Samsung Galaxy S22.

Action: sql_db_schema
Action Input: products
CREATE TABLE products (
	id INTEGER,
	name TEXT NOT NULL,
	url TEXT,
	description TEXT,
	stock_items INTEGER NOT NULL,
	price REAL NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from products table:
id	name	url	description	stock_items	price
1	I Phone 15 pro max	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is the latest I phone 15 pro max mobile	2	190000.0
2	Redmi Note 9 pro	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is redmi note 9 pro latest global version mobile	9	20000.0
3	calculator	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	casio fx caculator	2	1200.0
*/Thought: I now know that the "products" table does not contain information about the Samsung Galaxy S22. However, I do see that it contains information about other mobile phones and other products. I'm going to try to query the table with a more general query to see if I can find any information about Samsung products.

Action: sql_db_query
Action Input: SELECT * FROM products WHERE name LIKE '%Samsung%';[(4, 'Samsung Galaxy M30', 'https://ibb.co/sbLrxnm', 'This is samsung galaxy m30 smartphone.', 5, 20000.0), (5, 'Samsung Galaxy S22', 'https://ibb.co/Svdqcpb', 'This is samsung galaxy S22', 5, 200000.0), (6, 'Samsung Galaxy tab', 'https://ibb.co/YcfZcfm', 'This is samsung galaxy tab', 5, 110000.0), (8, 'Samsung S23 Ultra', 'https://ibb.co/DwFxTND', 'Samsung s23 ultra phone titanium.', 3, 210000.0)]Thought: It looks like the query was successful and returned some results. The query returned rows from the products table where the name contains the string 'Samsung'. This means that the table does contain information about Samsung products. I can see that it contains information about Samsung Galaxy M30, Samsung Galaxy S22, Samsung Galaxy tab, and Samsung S23 Ultra.

Action: sql_db_query
Action Input: SELECT * FROM products WHERE name = 'Samsung Galaxy S22';[(5, 'Samsung Galaxy S22', 'https://ibb.co/Svdqcpb', 'This is samsung galaxy S22', 5, 200000.0)]Final Answer: The Samsung Galaxy S22 is a smartphone that is part of the Samsung Galaxy series, with a price of $200,000 and a description of "This is samsung galaxy S22".

> Finished chain.

{'input': 'Exlain the product samsung galaxy s22',
 'output': 'The Samsung Galaxy S22 is a smartphone that is part of the Samsung Galaxy series, with a price of $200,000 and a description of "This is samsung galaxy S22".'}

## Under the hood

In [22]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)
context = toolkit.get_context()
tools = toolkit.get_tools()

In [26]:
context

{'table_info': '\nCREATE TABLE products (\n\tid INTEGER, \n\tname TEXT NOT NULL, \n\turl TEXT, \n\tdescription TEXT, \n\tstock_items INTEGER NOT NULL, \n\tprice REAL NOT NULL, \n\tPRIMARY KEY (id)\n)\n\n/*\n3 rows from products table:\nid\tname\turl\tdescription\tstock_items\tprice\n1\tI Phone 15 pro max\thttp://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg\tThis is the latest I phone 15 pro max mobile\t2\t190000.0\n2\tRedmi Note 9 pro\thttp://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg\tThis is redmi note 9 pro latest global version mobile\t9\t20000.0\n3\tcalculator\thttp://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg\tcasio fx caculator\t2\t1200.0\n*/',
 'table_names': 'products'}