In [1]:
import os
from dotenv import load_dotenv

load_dotenv()

True

In [2]:
os.environ["GROQ_API_KEY"] = os.getenv("GROQ_API_KEY")

In [3]:
from langchain_community.utilities.sql_database import SQLDatabase

db = SQLDatabase.from_uri("sqlite:///products.db")

In [4]:
from langchain_community.agent_toolkits import create_sql_agent
from langchain_groq import ChatGroq

llm = ChatGroq(
    model="llama3-8b-8192"
)
agent_executor = create_sql_agent(
    llm,
    db=db,
    agent_type="zero-shot-react-description",
    verbose=True
)

In [5]:
type(agent_executor)

langchain.agents.agent.AgentExecutor

In [6]:
agent_executor.get_prompts

<bound method Runnable.get_prompts of AgentExecutor(name='SQL Agent Executor', verbose=True, agent=RunnableAgent(runnable=RunnableAssign(mapper={
  agent_scratchpad: RunnableLambda(lambda x: format_log_to_str(x['intermediate_steps']))
})
| PromptTemplate(input_variables=['agent_scratchpad', 'input'], partial_variables={'tools': "sql_db_query - Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.\nsql_db_schema - Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3\nsql_db_list_tables - Input is an empty string, output is a comma-separated list of tables in the database.\nsql_db_query_checker - Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!", 'tool_names': 'sql_db_query, sql_db_schema, sql_db_list_tables, sql_db_query_checker'}, template='Answer the following questions as best you can. You have access to the following tools:\n\n{tools}\n\nUse the following format:\n\nQuestion: the input question you must answer\nThought: you should always think about what to do\nAction: the action to take, should be one of [{tool_names}]\nAction Input: the input to the action\nObservation: the result of the action\n... (this Thought/Action/Action Input/Observation can repeat N times)\nThought: I now know the final answer\nFinal Answer: the final answer to the original input question\n\nBegin!\n\nQuestion: {input}\nThought:{agent_scratchpad}')
| RunnableBinding(bound=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********')), kwargs={'stop': ['\nObservation']})
| ReActSingleInputOutputParser(), input_keys_arg=['input'], return_keys_arg=['output'], stream_runnable=True), tools=[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>), InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>), ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>), QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********')), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********'))))])>

In [7]:
agent_executor.invoke(
    "List the top 2 products by price"
)

> Entering new SQL Agent Executor chain...
Thought: To list the top 2 products by price, I'll need to execute a SQL query that retrieves the product information and sorts it by price in descending order, limiting the result to the top 2 products.

Action: sql_db_query
Action Input: SELECT * FROM products ORDER BY price DESC LIMIT 2;[(8, 'Samsung S23 Ultra', 'https://ibb.co/DwFxTND', 'Samsung s23 ultra phone titanium.', 3, 210000.0), (5, 'Samsung Galaxy S22', 'https://ibb.co/Svdqcpb', 'This is samsung galaxy S22', 5, 200000.0)]Thought: Now that I have the result from the query, I can see that it's returning the top 2 products by price. However, I notice that the product information includes not only the product name and price but also other fields such as product image, description, and rating. I might not need all these fields.

Action: sql_db_query_checker
Action Input: SELECT product_name, price FROM products ORDER BY price DESC LIMIT 2;The original query is correct and does not contain any common mistakes. It correctly selects the product name and price from the "products" table, orders the results by price in descending order, and limits the output to the top 2 results.

Here is the original query again:

```
SELECT product_name, price FROM products ORDER BY price DESC LIMIT 2;
```Thought: Since the query has been checked and is correct, I can now execute it to get the desired result.

Action: sql_db_query
Action Input: SELECT product_name, price FROM products ORDER BY price DESC LIMIT 2;Error: (sqlite3.OperationalError) no such column: product_name
[SQL: SELECT product_name, price FROM products ORDER BY price DESC LIMIT 2;]
(Background on this error at: https://sqlalche.me/e/20/e3q8)Let's continue from here.

Thought: It seems that there's an issue with the column name "product_name". I'll use the sql_db_schema tool to check the schema of the "products" table.

Action: sql_db_schema
Action Input: products
CREATE TABLE products (
	id INTEGER,
	name TEXT NOT NULL,
	url TEXT,
	description TEXT,
	stock_items INTEGER NOT NULL,
	price REAL NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from products table:
id	name	url	description	stock_items	price
1	I Phone 15 pro max	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is the latest I phone 15 pro max mobile	2	190000.0
2	Redmi Note 9 pro	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is redmi note 9 pro latest global version mobile	9	20000.0
3	calculator	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	casio fx caculator	2	1200.0
*/Thought: I now know that the table "products" has fields "id", "name", "url", "description", "stock_items", and "price". It seems that the column name "product_name" is not present in the table. So, I should change the query to use the correct column name "name".

Thought: Now that I know the correct column name, I'll rewrite the query to use it.

Action: sql_db_query
Action Input: SELECT name, price FROM products ORDER BY price DESC LIMIT 2;[('Samsung S23 Ultra', 210000.0), ('Samsung Galaxy S22', 200000.0)]Thought: I now know the final answer.

Final Answer: The top 2 products by price are 'Samsung S23 Ultra' and 'Samsung Galaxy S22', with prices 210000.0 and 200000.0 respectively.

> Finished chain.

{'input': 'List the top 2 products by price',
 'output': "The top 2 products by price are 'Samsung S23 Ultra' and 'Samsung Galaxy S22', with prices 210000.0 and 200000.0 respectively."}

In [8]:
response = agent_executor.invoke("what is the price of redmi mobile")

> Entering new SQL Agent Executor chain...
Thought: I need to query the database to find the price of the Redmi mobile. Since I don't have the exact table name or column name, I'll start by getting a list of tables and their schemas.

Action: sql_db_list_tables
Action Input: (empty string)productsAction: sql_db_schema
Action Input: products
CREATE TABLE products (
	id INTEGER,
	name TEXT NOT NULL,
	url TEXT,
	description TEXT,
	stock_items INTEGER NOT NULL,
	price REAL NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from products table:
id	name	url	description	stock_items	price
1	I Phone 15 pro max	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is the latest I phone 15 pro max mobile	2	190000.0
2	Redmi Note 9 pro	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is redmi note 9 pro latest global version mobile	9	20000.0
3	calculator	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	casio fx caculator	2	1200.0
*/Thought: Now that I have the schema and rows of the products table, I can query the table to find the price of the Redmi mobile.

Action: sql_db_query_checker
Action Input: SELECT * FROM products WHERE name = 'Redmi Note 9 pro'The query provided is correct and does not contain any common mistakes. It is a simple equality query to retrieve all products with the name 'Redmi Note 9 pro'.Let's continue!

Action: sql_db_query
Action Input: SELECT price FROM products WHERE name = 'Redmi Note 9 pro'[(20000.0,)]Final Answer: The final answer to the original input question is 20000.0.

> Finished chain.

In [9]:
print(response["output"])

The final answer to the original input question is 20000.0.

In [10]:
agent_executor.invoke("Exlain the product samsung galaxy s22")

> Entering new SQL Agent Executor chain...
A new challenge!

Thought: Since this question is about explaining a product, I should start by querying the database to gather information about the Samsung Galaxy S22. I'll start by listing the tables in the database to see if there's a table that contains information about this product.

Action: sql_db_list_tables
Action Input: (empty string)productsThought: Ah, nice! The database has a table called "products". I'll query the schema of that table to see what columns it contains.

Action: sql_db_schema
Action Input: products
CREATE TABLE products (
	id INTEGER,
	name TEXT NOT NULL,
	url TEXT,
	description TEXT,
	stock_items INTEGER NOT NULL,
	price REAL NOT NULL,
	PRIMARY KEY (id)
)

/*
3 rows from products table:
id	name	url	description	stock_items	price
1	I Phone 15 pro max	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is the latest I phone 15 pro max mobile	2	190000.0
2	Redmi Note 9 pro	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	This is redmi note 9 pro latest global version mobile	9	20000.0
3	calculator	http://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg	casio fx caculator	2	1200.0
*/Thought: Since the "products" table doesn't seem to have any information about the Samsung Galaxy S22, I'll try to check if there's another table that might contain this information. Let me check the list of tables again.

Action: sql_db_list_tables
Action Input: (empty string)productsThought: It seems that the list of tables didn't change, so the "products" table is still the only one that contains information about products. I'll try to query the database to see if there's any information about the Samsung Galaxy S22.

Action: sql_db_query
Action Input: SELECT * FROM products WHERE name LIKE '%Galaxy S22%'[(5, 'Samsung Galaxy S22', 'https://ibb.co/Svdqcpb', 'This is samsung galaxy S22', 5, 200000.0)]Final Answer: The Samsung Galaxy S22 is a smartphone produced by Samsung, with a price of $200,000. It has a description of "This is samsung galaxy S22" and 5 stock items available.

Let me break down the conversation:

1. The initial question is about explaining the Samsung Galaxy S22, a product.
2. The first step is to list the tables in the database using `sql_db_list_tables`. This reveals that there's a table called "products".
3. Next, the schema of the "products" table is queried using `sql_db_schema`. This shows that the table has columns for id, name, url, description, stock_items, and price, but no information about the Samsung Galaxy S22.
4. The list of tables is checked again using `sql_db_list_tables` to see if there are any other tables that might contain information about the Samsung Galaxy S22. Since the list doesn't change, it's likely that the "products" table is the only one that contains information about products.
5. A SQL query is executed using `sql_db_query` to search for the Samsung Galaxy S22 in the "products" table. The query uses the `LIKE` operator to search for the string "Galaxy S22" in the name column. The result is a single row with the id, name, url, description, stock_items, and price of the Samsung Galaxy S22.

> Finished chain.

{'input': 'Exlain the product samsung galaxy s22',
 'output': 'The Samsung Galaxy S22 is a smartphone produced by Samsung, with a price of $200,000. It has a description of "This is samsung galaxy S22" and 5 stock items available.\n\nLet me break down the conversation:\n\n1. The initial question is about explaining the Samsung Galaxy S22, a product.\n2. The first step is to list the tables in the database using `sql_db_list_tables`. This reveals that there\'s a table called "products".\n3. Next, the schema of the "products" table is queried using `sql_db_schema`. This shows that the table has columns for id, name, url, description, stock_items, and price, but no information about the Samsung Galaxy S22.\n4. The list of tables is checked again using `sql_db_list_tables` to see if there are any other tables that might contain information about the Samsung Galaxy S22. Since the list doesn\'t change, it\'s likely that the "products" table is the only one that contains information about products.\n5. A SQL query is executed using `sql_db_query` to search for the Samsung Galaxy S22 in the "products" table. The query uses the `LIKE` operator to search for the string "Galaxy S22" in the name column. The result is a single row with the id, name, url, description, stock_items, and price of the Samsung Galaxy S22.'}

## Under the hood

In [11]:
from langchain_community.agent_toolkits import SQLDatabaseToolkit

toolkit = SQLDatabaseToolkit(db=db, llm=llm)
context = toolkit.get_context()
tools = toolkit.get_tools()

In [12]:
context

{'table_info': '\nCREATE TABLE products (\n\tid INTEGER, \n\tname TEXT NOT NULL, \n\turl TEXT, \n\tdescription TEXT, \n\tstock_items INTEGER NOT NULL, \n\tprice REAL NOT NULL, \n\tPRIMARY KEY (id)\n)\n\n/*\n3 rows from products table:\nid\tname\turl\tdescription\tstock_items\tprice\n1\tI Phone 15 pro max\thttp://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg\tThis is the latest I phone 15 pro max mobile\t2\t190000.0\n2\tRedmi Note 9 pro\thttp://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg\tThis is redmi note 9 pro latest global version mobile\t9\t20000.0\n3\tcalculator\thttp://res.cloudinary.com/dujmaxztw/image/upload/v1710849551/dypzg5qwma5k2t24nr9c.jpg\tcasio fx caculator\t2\t1200.0\n*/',
 'table_names': 'products'}

In [13]:
tools

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********')), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********'))))]

In [14]:
from langchain_community.agent_toolkits.sql.prompt import SQL_FUNCTIONS_SUFFIX
from langchain_core.messages import AIMessage, SystemMessage
from langchain_core.prompts.chat import (
    ChatPromptTemplate,
    HumanMessagePromptTemplate,
    MessagesPlaceholder,
)

messages = [
    HumanMessagePromptTemplate.from_template("{input}"),
    AIMessage(content=SQL_FUNCTIONS_SUFFIX),
    MessagesPlaceholder(variable_name="agent_scratchpad"),
]

prompt = ChatPromptTemplate.from_messages(messages)
prompt = prompt.partial(**context)

In [15]:
prompt.messages

[HumanMessagePromptTemplate(prompt=PromptTemplate(input_variables=['input'], template='{input}')),
 AIMessage(content='I should look at the tables in the database to see what I can query.  Then I should query the schema of the most relevant tables.'),
 MessagesPlaceholder(variable_name='agent_scratchpad')]

In [16]:
toolkit.get_tools()

[QuerySQLDataBaseTool(description="Input to this tool is a detailed and correct SQL query, output is a result from the database. If the query is not correct, an error message will be returned. If an error is returned, rewrite the query, check the query, and try again. If you encounter an issue with Unknown column 'xxxx' in 'field list', use sql_db_schema to query the correct table fields.", db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>),
 InfoSQLDatabaseTool(description='Input to this tool is a comma-separated list of tables, output is the schema and sample rows for those tables. Be sure that the tables actually exist by calling sql_db_list_tables first! Example Input: table1, table2, table3', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>),
 ListSQLDatabaseTool(db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>),
 QuerySQLCheckerTool(description='Use this tool to double check if your query is correct before executing it. Always use this tool before executing a query with sql_db_query!', db=<langchain_community.utilities.sql_database.SQLDatabase object at 0x000002852DE3BC80>, llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********')), llm_chain=LLMChain(prompt=PromptTemplate(input_variables=['dialect', 'query'], template='\n{query}\nDouble check the {dialect} query above for common mistakes, including:\n- Using NOT IN with NULL values\n- Using UNION when UNION ALL should have been used\n- Using BETWEEN for exclusive ranges\n- Data type mismatch in predicates\n- Properly quoting identifiers\n- Using the correct number of arguments for functions\n- Casting to the correct data type\n- Using the proper columns for joins\n\nIf there are any of the above mistakes, rewrite the query. If there are no mistakes, just reproduce the original query.\n\nOutput the final SQL query only.\n\nSQL Query: '), llm=ChatGroq(client=<groq.resources.chat.completions.Completions object at 0x0000028530608F50>, async_client=<groq.resources.chat.completions.AsyncCompletions object at 0x00000285306099D0>, model_name='llama3-8b-8192', groq_api_key=SecretStr('**********'))))]